node_modules/
.next/
tina/__generated__/
.env*.local
drizzle/
/.idea/.gitignore
/ADS X Farhaan.docx
/.idea/codeStyles/codeStyleConfig.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/prettier.xml
/.vercel/project.json
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.vercel/README.txt
/.idea/var-4.iml
/.idea/vcs.xml
